@import 'node_modules/include-media/dist/_include-media.scss';

$breakpoints: (phone: 375px, tablet: 768px, desktop: 1024px);

@font-face {
  font-family: "Gilroy";
  src: url("/static/fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/static/fonts/Gilroy-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "HKgrotesk";
  src: url("/static/fonts/HKGrotesk-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@include media("<=tablet") {
  #__next{
    background: linear-gradient(0deg,rgba(172, 129, 49, 0.8),rgba(115, 76, 133, 0.8)),url('/static/images/vector2.jpg');
    background-color: pink
  }

  #__next .box {
    position: absolute;
    // top: -50%;
    // left: -25%;
  }

  #__next .grid-layout{
    grid-template-columns: auto;
  }

  .description{
    padding-top:calc(7vmin + (10 - 7) * ((100vw - 375px) / (1440 - 375)))
  }
}

// @include media (">phone","<tablet") {
//   #__next .box {
//    min-width: 400px;
//    min-height: 360px;
//   }

// }

@include media("<=phone") {
  #__next .box {
    position: absolute;
    top: -25%;
    left: -5%;
    min-width: 400px;
    min-height: 360px;
  }

  .first-box{
    height:calc(35vmin + (40 - 35) * ((100vw - 375px) / (1440 - 375)));
    
    .hero{
      top: 0;
      width: 100%;
      .title{
        width: auto;
      }
    }
  }
}

nav{
  background-color: #403f4c;
  padding: 3vh 0;
}
nav ul{
  margin : 0;
}
.navigation ul li a{
  color:#d9e4e1;
  font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (1440 - 375)));
  font-family: Gilroy; 
  font-weight: 800;
}

#__next{
  background: linear-gradient(0deg,rgba(195,207,206,0.8),rgba(195,207,206,0.8)),url('/static/images/vector2.jpg');
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: HKgrotesk;
  color: #403f4c;
  letter-spacing: 0.03em;
}
.box {
  width: calc(40vw + (50 - 40) * ((100vw - 375px) / (1440 - 375)));
  height: calc(40vw + (50 - 40) * ((100vw - 375px) / (1440 - 375)));
  max-height: 600px;
  max-width: 600px;
  position: absolute;
  top: 0;
  left: -25%;
  bottom: 0;
  z-index: 99;
  min-height: 600px;
  min-width: 600px;
}

.shape {
  top:-50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  background: #d9e4e1;
  background-size: 100%;
  background-position: center center;
}

.box-bottom {
  width: calc(40vw + (50 - 40) * ((100vw - 375px) / (1440 - 375)));
  height: calc(40vw + (50 - 40) * ((100vw - 375px) / (1440 - 375)));
  max-height: 600px;
  max-width: 600px;
  position: fixed;
  z-index: 99;
  min-height: 600px;
  min-width: 600px;
  top: 0;
  left: 70%;
  bottom: 0;
}

.box-bottom .shape{
  top: 120%;
}

.description{
  font-family: HKgrotesk;
  font-size: calc(15px + (25 - 15) * ((100vw - 375px) / (1440 - 375)));
  padding: 33px;
}

.hero {
  position: fixed;
  top: 0;
  left:0;
  z-index:99;
}

.title {
  margin: 0;
  width: 100%;
  padding:3vw;
  line-height: 1.15;
  font-size: calc(35px + (50 - 35) * ((100vw - 375px) / (1440 - 375)));
  font-family: Gilroy; 
}

.title,
.description {
  text-align: center;
}
.grid-layout{
  justify-content: center;
}

.grid-layout .repo-card{
  padding: 0 35px 20px;
  text-align: center;
}
.grid-layout .repo-card a{
  font-family: Gilroy;
  font-weight: 600;
  color: #403f4c;
  width: min-content;
  word-break: keep-all;
  margin-bottom: 9px;
  text-transform: uppercase;
}
.grid-layout .repo-card a:hover{
  background: rgba(232,72,85,0.8);
  box-shadow: none;
}

.grid-layout .repo-card .repo-lang{
  font-family: Gilroy;
  font-weight:600;
  width: 170px;
  display: contents;
}

.grid-layout .repo-card .repo-desc{
  display: inline;
  border-radius: 10px;
  height: 100%;
  padding: 15px;
}