@import 'node_modules/include-media/dist/_include-media.scss';

$breakpoints: (
  phone: 414px,
  tablet: 768px,
  desktop: 1024px
);

$tomato: #e84855;
$periwinkle: #69ace2;
$navy: #1D6096;
$purplegray: #403f4c;
$subtle-tomato: rgba(232, 72, 85, 0.6);
$subtle-peri: rgba(105, 172, 226, 0.8);
$subtle-navy: rgba(29 , 96, 150, 0.7);
$lightbg1: rgba(195, 207, 206, 0.9);
$lightbg2: rgba(195, 207, 206, 0.8);
$darkbg: rgba(195, 207, 206, 1);

@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/Gilroy-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/Gilroy-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HKgrotesk';
  src: url('/static/fonts/HKGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@include media('>phone', '<tablet') {

  #__next .box {
    // left: 0;
    min-width: 70vw;
    min-height: 70vw;
    max-height: 400px;
    max-width: 400px;
  }

  #__next .grid-layout {
    grid-template-columns: auto;
    height:auto;
    .description {
      display: grid;
      grid-template-columns: 50% 50%;
      margin-top: 25vh;
      p{
        float: left;
      }
      p:nth-last-child(1){
        padding-left:40px;
      }
    }
    .socials{
      padding-top:3vh;
    }
  }
  #__next .pinned-link{
    left:35%;
    bottom:0;
  }

  #__next .map svg{
    height: 40vh;
  }

  div[class^='full-body'] .see-more{
    left: 35%;
  }
}

@include media('<=phone') {
  #__next .grid-layout {
    height: auto;
    grid-template-columns: auto;
    .description {
      margin-top: 6vh;
      min-height: auto;
    }
    .about{
      max-width: 100%;
    }
  }

  #__next {
    .map svg{
      height: 30vh;
      margin-bottom: 0;
    }
    .pinned-link{
      // display: none;
      bottom: 0;
      left: 18%;
    }
    .see-more{
      left:18%;
    }
    .box {
      position: absolute;
      left: 0;
      min-width: 100vw;
      min-height: 100vw;
      max-height: 400px;
      max-width: 400px;
    }
    .box-bottom {
      display: none;
    }
  }

  .first-box {
    height: calc(35vmin + (40 - 35) * ((100vw - 375px) / (1440 - 375)));

    .hero {
      line-height: 0;
      top: 0;
      width: 100%;
      text-align: center;
      padding-left: 0;
    }
  }

}

#__next{
  a,button{
  border-radius: 10px;
  }
}

nav {
  // background-color: #403f4c;
  padding: 3vh 0;
}
nav ul {
  margin: 0;
}
.navigation ul li a {
  color: $purplegray;
  font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (1440 - 375)));
  font-family: Gilroy;
  font-weight: 800;
  svg{
    margin-bottom: -5px;
  }
}

.full-body1 {
  background: -webkit-gradient(
      linear,
      left bottom, left top,
      from($lightbg2),
      to($lightbg2)
    ),
    url('/static/images/vector2.jpg');
  background: linear-gradient(
      0deg,
      $lightbg2,
      $lightbg2
    ),
    url('/static/images/vector2.jpg');
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: HKgrotesk;
  color: #403f4c;
  letter-spacing: 0.03em;
}

.full-body2 {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  min-height: auto !important;
  background: -webkit-gradient(
      linear,
      left bottom, left top,
      from($lightbg1),
      to($lightbg1)
    ),
    url('/static/images/triangulation_mathematica_big.jpg');
  background: linear-gradient(
      0deg,
      $lightbg1,
      $lightbg1
    ),
    url('/static/images/triangulation_mathematica_big.jpg');
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: HKgrotesk;
    color: #403f4c;
    letter-spacing: 0.03em;
}

.full-body3 {
  background: -webkit-gradient(
      linear,
      left bottom, left top,
      from($lightbg2),
      to($subtle-peri)
    ),
    url('/static/images/vector-all.jpg');
  background: linear-gradient(
      180deg,
      $lightbg2,
      $subtle-peri
    ),
    url('/static/images/vector-all.jpg');
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: HKgrotesk;
    color: #403f4c;
    letter-spacing: 0.03em;
}

.box {
  width: calc(40vw + (50 - 40) * ((100vw - 375px) / (1440 - 375)));
  height: calc(40vw + (50 - 40) * ((100vw - 375px) / (1440 - 375)));
  position: absolute;
  top: 0;
  left: -25%;
  bottom: 0;
  z-index: 99;
  min-width: 50vw;
  min-height: 45vw;
  max-height: 400px;
  max-width: 400px;
}

.shape {
  top: -50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  background: #d9e4e1;
  background-size: 100%;
  background-position: center center;
}

.box-bottom {
  width: calc(40vw + (50 - 40) * ((100vw - 375px) / (1440 - 375)));
  height: calc(40vw + (50 - 40) * ((100vw - 375px) / (1440 - 375)));
  position: fixed;
  z-index: 99;
  min-width: 50vw;
  min-height: 50vw;
  max-height: 400px;
  max-width: 400px;
  left: unset;
  bottom: -28%;
  top: unset;
  right: -21%;
}

.box-bottom .shape {
  // top: 115%;
  top: unset;
  bottom: unset;
}
.grid-layout .heading-bold {
  font-size: calc(35px + (50 - 35) * ((100vw - 375px) / (1440 - 375)));
  font-family: Gilroy;
}

.back-top {
  padding-bottom: 3vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  left: 41%;
  z-index: 2;
  letter-spacing: 0.1em;
}

.grid-layout .description {
  padding: 33px 33px 0;
}
.grid-layout .socials {
  // margin-bottom: 100vh;//
  z-index: 99;
  padding: 0 33px 0;
  .heading-bold {
    font-size: calc(35px + (50 - 35) * ((100vw - 375px) / (1440 - 375)));
  }
  a {
    display: inline-table;
    color: $purplegray;
    font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (1440 - 375)));
  }
  a:hover{
    color:$tomato;
  }
}

div[class^='full-body'] .pinned-title{
  max-width: 100% ;
  text-align: center;
  font-size: calc(35px + (50 - 35) * ((100vw - 375px) / (1440 - 375)));
  font-family: Gilroy;
}

.pinned-link {
  // width: 96vw;
  // text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  bottom: 8vh;
  left: 41%;
  z-index: 2;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.grid-layout .description .education,
.grid-layout .description .about {
  font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (1440 - 375)));
  font-family: HKgrotesk;
  max-width: 50vw;
}

.grid-layout .description .seeMore {
  font-size: calc(35px + (50 - 35) * ((100vw - 375px) / (1440 - 375)));
  font-family: Gilroy;
}
.grid-layout .description a {
  display: inline-table;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  padding-left: 25px;
}

.first-box .title {
  .hello {
    color: $tomato;
    span {
      color: $periwinkle;
    }
  }
  .world {
    span {
      color: $tomato;
    }
  }
  span:not(.name) {
    margin: 0;
    width: 100%;
    line-height: 1.15;
    font-size: calc(40px + (50 - 40) * ((100vw - 375px) / (1440 - 375)));
    font-family: Gilroy;
    font-weight: 800;
    text-transform: uppercase;
  }
}
.grid-layout .first-box .title .name {
  font-size: calc(20px + (30 - 20) * ((100vw - 375px) / (1440 - 375)));
  font-weight: 200;
  font-family: HKgrotesk;
  text-transform: uppercase;
  span {
    font-size: calc(20px + (30 - 20) * ((100vw - 375px) / (1440 - 375)));
    font-family: HKgrotesk;
    font-weight: 200;
    text-transform: uppercase;
  }
}

.title,
.description {
  text-align: left;
}
.grid-layout {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 100vh;
}
.grid-layout.pinned{
  height: auto;
  padding-top: 35px;
}

.grid-layout .repo-card {
  padding: 0 35px 20px;
  text-align: center;
  min-height: unset;
}
.grid-layout .repo-card a {
  font-family: Gilroy;
  font-weight: 600;
  color: #403f4c;
  // width: min-content;
  background-color: $subtle-tomato;
  word-break: keep-all;
  margin-bottom: 9px;
  text-transform: uppercase;
}
.grid-layout .repo-card a:hover {
  background: $subtle-peri;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.grid-layout .repo-card .repo-lang {
  font-family: Gilroy;
  font-weight: 600;
  width: 170px;
  display: contents;
}

.grid-layout .repo-card .repo-desc {
  display: inline-block;
  border-radius: 10px;
  height: 100%;
  padding: 15px;
  button{
    border: 4px solid $tomato;
  }
  button:hover{
    box-shadow: 0px 0px 0px 3px $tomato;
  }
  .comma:nth-last-child(1){
    display: none;
  }
  
}

.grid-layout .repo-pinned {
  height: 100%;
}

.see-more{
  padding-right: 35px;
  text-align: center;
  position: relative;
  left: 41%;
  z-index: 2;
  letter-spacing: 0.1em;
}
div.map {
  // margin-top: 100vh;
  p {
    font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (1440 - 375)));
    .location-text {
      background-color: $subtle-peri;
      font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (1440 - 375)));
      -webkit-text-decoration: underline wavy $tomato;
              text-decoration: underline wavy $tomato;
    }
  }
}
.map svg {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 8vh;
  height: 55vh;
}

.grid-layout.pinned > a {
  position: absolute;
  top: -50px;
  padding-left: 40px;
  color: #403f4c;
  font-size: calc(30px + (40 - 30) * ((100vw - 375px) / (1440 - 375)));
  font-weight: 800;
  font-family: Gilroy;
}


div[class^='StyledDrop']{
  width: 100%;
  height: 100%;
  top:0 !important;
  max-height: 100% !important;
  font-family: HKgrotesk;
  background-color: $darkbg;
  .readme{
    padding: 50px;
    button{
      font-weight: 800;
      font-family: Gilroy;

    }
    a[class^="StyledAnchor"] {
      border-radius: 0;

    }
    a{
      border-radius: 10px;
      font-family: Gilroy;
      font-weight: 600;
      color: #403f4c;
      background-color: $subtle-navy;
      word-break: keep-all;
      margin-bottom: 9px;
      text-transform: uppercase;
      img{
        background-color: transparent;
      }
    }
    a:hover {
      background: $subtle-tomato;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    button{
      border-radius: 10px;
    }
    p{
      width: 100%;
      max-width: 100%;
    }
    // text-align: left;
    img{
      max-width:100%;
      max-height:100%;
    }
    h1{
      font-family: Gilroy;
    }
    h3{
      // font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (1440 - 375)));
      -webkit-text-decoration: underline wavy $navy;
              text-decoration: underline wavy $navy;
    }
    h4{
      font-family: Gilroy;
      color: #1D6096;
    }
    strong{
      font-family: Gilroy;
      color: $navy;
    }
    em{
      text-decoration: underline wavy #1D6096;
    }
  }
}
