@import 'node_modules/include-media/dist/_include-media.scss';

$breakpoints: (
  phone: 375px,
  tablet: 768px,
  desktop: 1024px
);

$tomato: #e84855;
$periwinkle: #69ace2;
$purplegray: #403f4c;
$subtle-tomato: rgba(232, 72, 85, 0.6);
$subtle-peri: rgba(105, 172, 226, 0.7);

@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/Gilroy-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/Gilroy-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HKgrotesk';
  src: url('/static/fonts/HKGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@include media('>phone', '<tablet') {
  #__next {
    background: linear-gradient(
        0deg,
        rgba(172, 129, 49, 0.8),
        rgba(115, 76, 133, 0.8)
      ),
      url('/static/images/vector2.jpg');
  }

  #__next .box {
    // left: 0;
    min-width: 70vw;
    min-height: 70vw;
    max-height: 400px;
    max-width: 400px;
  }

  #__next .box-bottom {
    // left: 0;
    min-width: 70vw;
    min-height: 70vw;
    max-height: 400px;
    max-width: 400px;
    left: unset;
    bottom: -25%;
    top: unset;
    right: -27%;
    .shape {
      top: unset;
      bottom: unset;
    }
  }

  #__next .grid-layout {
    grid-template-columns: auto;
    .description {
      margin-top: 23vh;
    }
  }
}

@include media('<=phone') {
  #__next .grid-layout {
    grid-template-columns: auto;
    .description {
      margin-top: 6vh;
    }
  }

  #__next {
    .box {
      position: absolute;
      left: 0;
      min-width: 100vw;
      min-height: 100vw;
      max-height: 400px;
      max-width: 400px;
    }
    .box-bottom {
      display: none;
    }
  }

  .first-box {
    height: calc(35vmin + (40 - 35) * ((100vw - 375px) / (1440 - 375)));

    .hero {
      top: 0;
      width: 100%;
      text-align: center;
      padding-left: 0;
    }
  }
}

nav {
  // background-color: #403f4c;
  padding: 3vh 0;
}
nav ul {
  margin: 0;
}
.navigation ul li a {
  color: $purplegray;
  font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (1440 - 375)));
  font-family: Gilroy;
  font-weight: 800;
}

#__next {
  background: linear-gradient(
      0deg,
      rgba(195, 207, 206, 0.8),
      rgba(195, 207, 206, 0.8)
    ),
    url('/static/images/vector2.jpg');
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: HKgrotesk;
  color: #403f4c;
  letter-spacing: 0.03em;
}
.box {
  width: calc(40vw + (50 - 40) * ((100vw - 375px) / (1440 - 375)));
  height: calc(40vw + (50 - 40) * ((100vw - 375px) / (1440 - 375)));
  position: absolute;
  top: 0;
  left: -25%;
  bottom: 0;
  z-index: 99;
  min-width: 50vw;
  min-height: 50vw;
  max-height: 400px;
  max-width: 400px;
}

.shape {
  top: -50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  background: #d9e4e1;
  background-size: 100%;
  background-position: center center;
}

.box-bottom {
  width: calc(40vw + (50 - 40) * ((100vw - 375px) / (1440 - 375)));
  height: calc(40vw + (50 - 40) * ((100vw - 375px) / (1440 - 375)));
  position: fixed;
  z-index: 99;
  min-width: 50vw;
  min-height: 50vw;
  max-height: 400px;
  max-width: 400px;
  left: unset;
  bottom: -28%;
  top: unset;
  right: -21%;
}

.box-bottom .shape {
  // top: 115%;
  top: unset;
  bottom: unset;
}
.grid-layout .heading-bold {
  font-size: calc(35px + (50 - 35) * ((100vw - 375px) / (1440 - 375)));
  font-family: Gilroy;
}

.back-top svg {
  position: relative;
  bottom: -7%;
  left: 50%;
  z-index: 2;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.grid-layout .description {
  padding: 33px 33px 0;
}
.grid-layout .socials {
  .heading-bold {
    font-size: calc(25px + (30 - 25) * ((100vw - 375px) / (1440 - 375)));
  }

  // margin-bottom: 100vh;//
  z-index: 99;
  padding: 0 33px 0;
  a {
    display: inline-table;
    color: $purplegray;
    font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (1440 - 375)));
  }
}
.pinned-link span {
  // width: 96vw;
  // text-align: center;
  display: inline-flex;
  position: relative;
  bottom: 10vh;
  left: 41%;
  z-index: 2;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.grid-layout .description .education,
.grid-layout .description .about {
  font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (1440 - 375)));
  font-family: HKgrotesk;
  max-width: 50vw;
}

.grid-layout .description .seeMore {
  font-size: calc(35px + (50 - 35) * ((100vw - 375px) / (1440 - 375)));
  font-family: Gilroy;
}
.grid-layout .description a {
  display: inline-table;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  padding-left: 25px;
}

.first-box .title {
  .hello {
    color: $tomato;
    span {
      color: $periwinkle;
    }
  }
  .world {
    span {
      color: $tomato;
    }
  }
  span:not(.name) {
    margin: 0;
    width: 100%;
    line-height: 1.15;
    font-size: calc(40px + (50 - 40) * ((100vw - 375px) / (1440 - 375)));
    font-family: Gilroy;
    font-weight: 800;
    text-transform: uppercase;
  }
}
.grid-layout .first-box .title .name {
  font-size: calc(20px + (30 - 20) * ((100vw - 375px) / (1440 - 375)));
  font-weight: 200;
  font-family: HKgrotesk;
  text-transform: uppercase;
  span {
    font-size: calc(20px + (30 - 20) * ((100vw - 375px) / (1440 - 375)));
    font-family: HKgrotesk;
    font-weight: 200;
    text-transform: uppercase;
  }
}

.title,
.description {
  text-align: left;
}
.grid-layout {
  justify-content: center;
  position: relative;
  height: 100vh;
}

.grid-layout .repo-card {
  padding: 0 35px 20px;
  text-align: center;
  min-height: unset;
}
.grid-layout .repo-card a {
  font-family: Gilroy;
  font-weight: 600;
  color: #403f4c;
  // width: min-content;
  background-color: $subtle-tomato;
  word-break: keep-all;
  margin-bottom: 9px;
  text-transform: uppercase;
}
.grid-layout .repo-card a:hover {
  background: $subtle-peri;
  box-shadow: none;
}

.grid-layout .repo-card .repo-lang {
  font-family: Gilroy;
  font-weight: 600;
  width: 170px;
  display: contents;
}

.grid-layout .repo-card .repo-desc {
  display: inline-block;
  border-radius: 10px;
  height: 100%;
  padding: 15px;
}

.grid-layout .repo-pinned {
  height: 100%;
}
div.map {
  // margin-top: 100vh;
  p {
    font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (1440 - 375)));
    .location-text {
      background-color: $subtle-peri;
      font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (1440 - 375)));
      text-decoration: underline wavy $tomato;
    }
  }
}
.map svg {
  width: 98vw;
  margin-bottom: 20vh;
}

.grid-layout.pinned > a {
  position: absolute;
  top: -50px;
  padding-left: 40px;
  color: #403f4c;
  font-size: calc(30px + (40 - 30) * ((100vw - 375px) / (1440 - 375)));
  font-weight: 800;
  font-family: Gilroy;
}
