@import 'node_modules/include-media/dist/_include-media.scss';

$breakpoints: (
  phone: 767px,
  tablet: 991px,
  desktop: 1024px
);

$tomato: #e84855;
$periwinkle: #69ace2;
$navy: #1d6096;
$purplegray: #403f4c;
$subtle-tomato: rgba(232, 72, 85, 0.6);
$subtle-peri: rgba(105, 172, 226, 0.8);
$subtle-navy: rgba(29, 96, 150, 0.7);
$lightbg1: rgba(195, 207, 206, 0.9);
$lightbg2: rgba(195, 207, 206, 0.8);
$darkbg: rgba(195, 207, 206, 1);

@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/Gilroy-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/Gilroy-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HKgrotesk';
  src: url('/static/fonts/HKGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

// y1: smallest size (px)
// x1: smallest browser width (px)
// y2: largest size (px)
// x2: largest browser width (px)
// e.g. 12px @ 375w to 24px @ 1280w = interpolate(12, 375, 24, 1280)
@function interpolate($y1, $x1, $y2, $x2) {
  $m: ($y2 - $y1) / ($x2 - $x1);
  $b: $y1 - $m * $x1; // or $y2 - $m * $x2

  @return calc((#{$m}) * 100vw + (#{$b}) * 1px);
}

@include media('>phone', '<tablet') {
  #__next .box {
    // left: 0;
    min-width: 20vw;
    min-height: 80vw;
    max-height: 600px;
    max-width: 300px;
  }

  // #__next .grid-layout {
  //   height: auto;
  //   .description {
  //     display: grid;
  //     p {
  //       float: left;
  //     }
  //     p:nth-last-child(1) {
  //       padding-left: 40px;
  //     }
  //   }
  //   .socials {
  //     padding-top: 3vh;
  //   }
  // }
  // #__next .pinned-link {
  //   left: 35%;
  //   bottom: 0;
  // }

  #__next .map svg {
    height: 40vh;
  }

  div[class^='full-body'] .see-more {
    left: 35%;
  }
}

@include media('<=phone') {
  #__next .full-body1 {
    height: 100%;
  }
  #__next .grid-layout {
    grid-template-columns: auto;
    height: 100%;
    .first-box {
      // height: auto;
      border: 5px solid#403f4c;
      grid-template-columns: auto;
      width: auto;
      max-width: 100vw;
      background-color: #d9e4e1;
      border-radius: 0 133px 133px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-line-pack: center;
      align-content: center;

      .socials {
        margin-top: 10vh;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        .heading-bold {
          display: none;
        }
      }
    }

    .description {
      margin-top: 6vh;
      min-height: auto;
    }
    .about {
      max-width: 100%;
    }
  }

  #__next {
    .map svg {
      height: 30vh;
      margin-bottom: 0;
    }
    .pinned-link {
      display: none !important;
      bottom: 0;
      left: 18%;
    }
    .pinned-title.heading-bold {
      -ms-flex-line-pack: center;
      align-content: center;

      display: -webkit-box;

      display: -ms-flexbox;

      display: flex;

      -webkit-box-align: center;

      -ms-flex-align: center;

      align-items: center;

      -webkit-box-pack: center;

      -ms-flex-pack: center;

      justify-content: center;
      padding-bottom: 5px;
    }
    .see-more {
      left: 0;
    }
    .box {
      position: absolute;
      left: 0;
      min-width: 100vw;
      // min-height: 100vw;
      // max-height: 400px;
      max-width: 400px;
    }
    .box-bottom {
      display: none;
    }
    .back-top {
      margin-bottom: 15px;
    }
  }

  #__next .grid-layout .first-box {
    height: 30vh;

    min-width: 0 !important;

    min-height: -webkit-min-content !important;

    min-height: -moz-min-content !important;

    min-height: min-content !important;

    max-height: -webkit-min-content !important;

    max-height: -moz-min-content !important;

    max-height: min-content !important;

    padding-top: 5vh;

    margin-bottom: 15vh;
    .hero {
      line-height: 0;
      top: 0;
      width: 100%;
      text-align: center;
      padding-left: 0;
    }
    .socials {
      padding-top: 20vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      a {
        padding: 5px;
        width: 40px;
      }
    }
  }
}

// END <= PHONE

#__next {
  a,
  button {
    border-radius: 5px 33px 33px;
  }
}

nav {
  // background-color: #403f4c;
  padding: 3vh 0;
}
nav ul {
  margin: 0;
}
.navigation ul li a {
  color: $purplegray;
  font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (1440 - 375)));
  font-family: Gilroy;
  font-weight: 800;
  svg {
    margin-bottom: -5px;
  }
}

.full-body1 {
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from($lightbg2),
      to($lightbg2)
    ),
    url('/static/images/vector2.jpg');
  background: linear-gradient(0deg, $lightbg2, $lightbg2),
    url('/static/images/vector2.jpg');
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: HKgrotesk;
  color: #403f4c;
  letter-spacing: 0.03em;
}

.full-body2 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  min-height: auto !important;
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from($lightbg1),
      to($lightbg1)
    ),
    url('/static/images/triangulation_mathematica_big.jpg');
  background: linear-gradient(0deg, $lightbg1, $lightbg1),
    url('/static/images/triangulation_mathematica_big.jpg');
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: HKgrotesk;
  color: #403f4c;
  letter-spacing: 0.03em;
}

.full-body3 {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from($lightbg2),
      to($subtle-peri)
    ),
    url('/static/images/vector-all.jpg');
  background: linear-gradient(180deg, $lightbg2, $subtle-peri),
    url('/static/images/vector-all.jpg');
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: HKgrotesk;
  color: #403f4c;
  letter-spacing: 0.03em;
}

.box {
  width: calc(40vw + (50 - 40) * ((100vw - 375px) / (1440 - 375)));
  height: calc(40vw + (50 - 40) * ((100vw - 375px) / (1440 - 375)));
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  min-width: 230px;

  min-height: 560px;

  max-height: 600px;

  max-width: 275px;
}

.shape {
  // top: -50%;
  width: 100%;
  height: 100%;
  // border-radius: 50%;
  border-radius: 5px 133px 133px;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  background: #d9e4e1;
  background-size: 100%;
  background-position: center center;
  //
  -webkit-transition: border-radius 1s ease-out;
  transition: border-radius 1s ease-out;
  -webkit-animation: morph 8s ease-in-out infinite both alternate;
  animation: morph 8s ease-in-out infinite both alternate;
}

.box-bottom {
  width: calc(40vw + (50 - 40) * ((100vw - 375px) / (1440 - 375)));
  height: calc(40vw + (50 - 40) * ((100vw - 375px) / (1440 - 375)));
  position: fixed;
  z-index: 99;
  min-width: 50vw;
  min-height: 50vw;
  max-height: 400px;
  max-width: 400px;
  left: unset;
  bottom: -28%;
  top: unset;
  right: -21%;
}

.box-bottom .shape {
  // top: 115%;
  top: unset;
  bottom: unset;
}
.grid-layout .heading-bold {
  font-size: calc(35px + (50 - 35) * ((100vw - 375px) / (1440 - 375)));
  font-family: Gilroy;
}

.back-top {
  position: absolute;
  // width: 100%;
  display: block;
  bottom: -10%;
  top: auto;
  right: 0%;
  left: auto;
  z-index: 2;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-align: center;
  border-radius: 33px 5px 33px 33px;
  div {
    padding-bottom: 5px;
    svg {
      // position: absolute;

      // left: 50%;

      // top: 10px;
      z-index: -1;

      // padding-top: 9px;
    }
  }
}

.grid-layout .description {
  padding: 33px 33px 0;
}

.grid-layout .socials::before {
  top: 4vw;
}
.grid-layout .socials {
  top: 60%;
  // margin-bottom: 100vh;//
  position: relative;
  // margin-top: 80%;
  z-index: 99;
  padding: 0 33px 0;
  padding-bottom: 40px;
  .heading-bold {
    font-size: interpolate(25, 375, 30, 1440);
    // width: interpolate(120, 300, 800, 1280);
    // font-size: calc(25px + (30 - 25) * ((100vw - 375px) / (1440 - 375)));
  }
  a {
    display: inline-table;
    color: $purplegray;
    font-size: interpolate(15, 375, 20, 1440);
    // font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (1440 - 375)));
  }
  a:hover {
    color: $tomato;
  }
}

.pinned-title.heading-bold {
  max-width: 100%;
  text-align: center;
  font-size: calc(35px + (50 - 35) * ((100vw - 375px) / (1440 - 375)));
  font-family: Gilroy;
}

#__next .pinned-link {
  // width: 96vw;
  // text-align: center;
  position: absolute;
  // width: 100%;
  display: block;
  bottom: 0%;
  top: auto;
  right: 0%;
  left: auto;
  z-index: 2;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-align: center;
  border-radius: 33px 5px 33px 33px;
  div {
    padding-bottom: 5px;
    svg {
      // position: absolute;

      // left: 50%;

      // top: 10px;

      z-index: -1;

      // padding-top: 9px;
    }
  }
}

.grid-layout .description > * {
  // font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (1440 - 375)));
  font-size: 2vh;
  font-family: HKgrotesk;
  max-width: 50vw;
}

.grid-layout .description .seeMore {
  font-size: calc(35px + (50 - 35) * ((100vw - 375px) / (1440 - 375)));
  font-family: Gilroy;
}
.grid-layout .description a {
  display: inline-table;
}

.hero {
  position: relative;
  display: block;
  left: 0;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  padding-left: 25px;
}

.first-box .title {
  .hello {
    color: $tomato;
    span {
      color: $periwinkle;
    }
  }
  .world {
    span {
      color: $tomato;
    }
  }
  span:not(.name) {
    margin: 0;
    width: 100%;
    line-height: 1.15;
    font-size: calc(40px + (50 - 40) * ((100vw - 375px) / (1440 - 375)));
    font-family: Gilroy;
    font-weight: 800;
    text-transform: uppercase;
  }
}
.grid-layout .first-box .title .name {
  font-size: calc(20px + (30 - 20) * ((100vw - 375px) / (1440 - 375)));
  font-weight: 200;
  font-family: HKgrotesk;
  text-transform: uppercase;
  span {
    font-size: calc(20px + (30 - 20) * ((100vw - 375px) / (1440 - 375)));
    font-family: HKgrotesk;
    font-weight: 200;
    text-transform: uppercase;
  }
}

.title,
.description {
  text-align: left;
}
.grid-layout {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  height: 100vh;

  .first-box {
    border: 5px solid#403f4c;
    background-color: #d9e4e1;
    border-radius: 0 133px 133px;
    min-width: 230px;

    min-height: 560px;

    max-height: 600px;

    max-width: 275px;
  }
}
.grid-layout.pinned {
  height: auto;
  padding-top: 35px;
}

.grid-layout .repo-card {
  padding: 0 35px 20px;
  text-align: center;
  min-height: unset;
}
.grid-layout .repo-card a {
  border-radius: 5px 33px 33px !important;
  font-family: Gilroy;
  font-weight: 600;
  color: #403f4c;
  // width: min-content;
  background-color: #d9e4e1;
  word-break: keep-all;
  margin-bottom: 9px;
  text-transform: uppercase;
  border: 3px solid $tomato;
}
.grid-layout .repo-card a:hover {
  background: $subtle-peri;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.grid-layout .repo-card .repo-lang {
  font-family: Gilroy;
  font-weight: 600;
  width: 170px;
  display: contents;
}

.grid-layout .repo-card .repo-desc {
  display: inline-block;
  border-radius: 10px;
  height: 100%;
  padding: 15px;
  button {
    border: 4px solid $tomato;
  }
  button:hover {
    -webkit-box-shadow: 0px 0px 0px 3px $tomato;
    box-shadow: 0px 0px 0px 3px $tomato;
  }
  .comma:nth-last-child(1) {
    display: none;
  }
}

.grid-layout .repo-pinned {
  height: 100%;
}

.see-more {
  // position: absolute;
  // left: 35%;
  // top: 15px;
  z-index: -1;
  // padding-right: 35px;
  // text-align: center;
  // position: relative;
  // left: 41%;
  // z-index: 2;
  // letter-spacing: 0.1em;

  width: 100%;
  display: inline-block;
  position: relative;
  z-index: 2;
  letter-spacing: 0.1em;
  text-align: end;
  padding-right: 50px;
}
div.map {
  // margin-top: 100vh;
  p {
    font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (1440 - 375)));
    .location-text {
      background-color: $subtle-peri;
      font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (1440 - 375)));
      -webkit-text-decoration: underline wavy $tomato;
      text-decoration: underline wavy $tomato;
      border-radius: 5px 33px 33px;
      height: 130%;
      display: inline-block;
    }
  }
}
.map svg {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 5vh;

  height: 50vh;
  g {
    g:nth-last-child(n + 3) {
      opacity: 0;
    }
  }
}

.grid-layout.pinned > a {
  position: absolute;
  top: -50px;
  padding-left: 40px;
  color: #403f4c;
  font-size: calc(30px + (40 - 30) * ((100vw - 375px) / (1440 - 375)));
  font-weight: 800;
  font-family: Gilroy;
}

body div[class*='StyledDrop-sc'] {
  width: 100%;
  height: 100%;
  top: 0 !important;
  max-height: 100% !important;
  font-family: HKgrotesk;
  background-color: $darkbg;
  .readme {
    padding: 50px;
    button {
      font-weight: 800;
      font-family: Gilroy;
    }
    a[class^='StyledAnchor'] {
      border-radius: 0;
    }
    a {
      border-radius: 10px;
      font-family: Gilroy;
      font-weight: 600;
      color: #403f4c;
      background-color: $subtle-navy;
      word-break: keep-all;
      margin-bottom: 9px;
      text-transform: uppercase;
      img {
        background-color: transparent;
      }
    }
    a:hover {
      background: $subtle-tomato;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    button {
      border-radius: 10px;
    }
    p {
      width: 100%;
      max-width: 100%;
    }
    // text-align: left;
    img {
      max-width: 100%;
      max-height: 100%;
    }
    h1 {
      font-family: Gilroy;
    }
    h3 {
      // font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (1440 - 375)));
      -webkit-text-decoration: underline wavy $navy;
      text-decoration: underline wavy $navy;
    }
    h4 {
      font-family: Gilroy;
      color: #1d6096;
    }
    strong {
      font-family: Gilroy;
      color: $navy;
    }
    em {
      -webkit-text-decoration: underline wavy #1d6096;
      text-decoration: underline wavy #1d6096;
    }
  }
}
// footer
.madeby {
  padding: 20px;
  font-size: 12px;
  font-weight: 800;
  text-align: center;
  max-width: 100%;
  border-radius: 133px 133px 133px 5px;
  border: 5px solid #403f4c;
  overflow: hidden;
  z-index: -1;
  margin: 5em 0 0;
  background: linear-gradient(110deg, $tomato 30%, rgba(0, 0, 0, 0) 30%),
    linear-gradient(30deg, #d9e4e1 60%, $periwinkle 60%);
}
