@import 'node_modules/include-media/dist/_include-media.scss';

$breakpoints: (phone: 375px, tablet: 768px, desktop: 1024px);

@font-face {
  font-family: "Gilroy";
  src: url("/static/fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/static/fonts/Gilroy-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "HKgrotesk";
  src: url("/static/fonts/HKGrotesk-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@include media(">=phone", "<tablet") {
  #__next{
    background: linear-gradient(0deg,rgba(172, 129, 49, 0.8),rgba(115, 76, 133, 0.8)),url('/static/images/vector2.jpg');
    background-color: pink
  }

  #__next .box {
    position: absolute;
    top: -45vmin;
    left: -40vmin;
  }
}

@include media ("<phone") {
  #__next .box {
   min-width: 400px;
   min-height: 360px;
  }

}

#__next{
  background: linear-gradient(0deg,rgba(195,207,206,0.8),rgba(195,207,206,0.8)),url('/static/images/vector2.jpg');
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.box {
  width: calc(88vmin + (116 - 88) * ((100vw - 375px) / (1440 - 375)));
  height: calc(86vmin + (106 - 86) * ((100vw - 375px) / (1440 - 375)));
  position: absolute;
  top: -45vmin;
  left: -40vmin;
  bottom: 0;
  z-index:99;

}
.shape {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  background: #d9e4e1;
  background-size: 100%;
  background-position: center center;
}

.box-bottom {
    width: 95vmin;
    height: 90vmin;
    position: fixed;
    right: -45vmin;
    bottom: -35vmin;
}

.description{
  font-family: HKgrotesk;
  font-size: calc(15px + (25 - 15) * ((100vw - 375px) / (1440 - 375)));
}

.hero {
  position: fixed;
  top: 0;
  left:0;
  z-index:99;
}

.title {
  margin: 0;
  width: 100%;
  padding: 40px 20px;
  line-height: 1.15;
  font-size: calc(35px + (50 - 35) * ((100vw - 375px) / (1440 - 375)));
  font-family: Gilroy; 
}

.title,
.description {
  text-align: center;
}
